@import "~quasar/dist/quasar"
@import "src/css/quasar.variables"
@import "src/css/markdown"

// app global css in Sass form
@mixin disable-copy
    -webkit-touch-callout: none
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none

input
    &::-webkit-outer-spin-button,&::-webkit-inner-spin-button
        -webkit-appearance: none
    &[type="number"]
        -moz-appearance: textfield

.module-background
    @extend .absolute-top-left
    @extend .full-width
    @extend .full-height
    z-index: -1

body
    @include disable-copy
    background: transparent !important
    transition: all .3s

    &.body--light
        .module-background
            background: #FFFFFF
        .bg-aero
            background: rgba(#FFFFFF, .5)
            backdrop-filter: blur(10px) saturate(180%)
        .q-splitter__separator
            background: #EEEEEE
    &.body--dark
        .bg-aero
            background: rgba($dark, .5)
            backdrop-filter: blur(10px) saturate(180%)
        .module-background
            background: $dark
        .q-splitter__separator
            background: rgba($dark, .3)

#q-app
    transition: all .3s

.q-tooltip
    background: $dark
    font-size: .8rem

.q-dialog__backdrop
    backdrop-filter: blur(10px)

.q-skeleton--dark.q-skeleton--anim-wave:after
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0))

.xterm-viewport
    overflow: hidden !important

.bg-aero
    background: rgba(#FFFFFF, .5)
    backdrop-filter: blur(10px) saturate(180%)

.q-scrollarea
    overflow: hidden
