@import "src/css/quasar.variables"

.body--light
    .fs-control, .fs-head
        background: rgba(#FFFFFF, .5)
        .pwd-input,button
            color: $dark
        .btn-enter:hover
            background: rgba($dark, .1)
        .pwd-input:focus
            background: rgba($primary, .3)
    .fs-item
        &.selected
            background: rgba($dark, .5)
            color: #FFFFFF
        &:focus,&.focus-temp
            background: $primary
            color: #FFFFFF


.body--dark
    .fs-control, .fs-head
        background: rgba($dark, .5)
        .pwd-input,button
            color: #FFFFFF
        .btn-enter:hover
            background: rgba(#FFFFFF, .1)
        .pwd-input:focus
            background: $primary
            color: #FFFFFF
    .fs-item
        &.selected
            background: rgba(#FFFFFF, .3)
            color: #FFFFFF
        &:focus,&.focus-temp
            background: $primary
            color: #FFFFFF

.fs-system
    display: flex
    flex-direction: column
    height: 100%

.fs-control
    position: sticky
    top: 0
    z-index: 99
    box-sizing: border-box
    .btn-group
        position: absolute
        top: 0
        right: 0
    .pwd-input,
    .btn-enter
        position: relative
        height: 25px
        padding: 0
        border: 0
        outline: none
        background: none
    .pwd-input
        width: 100%
        padding-left: 5px
        padding-right: 65px
        transition: all .3s
    .btn-enter
        width: 30px
        text-align: center
        cursor: pointer

.fs-item,
.fs-head
    display: flex
    height: 25px
    line-height: 25px

.fs-head
    padding-left: 13px
    padding-right: 21px

.fs-item
    padding: 0 5px
    border-radius: 4px
    margin-bottom: 2px

.item
    margin-right: 5px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    &:last-child
        margin-right: 0
    &.select-all
        min-width: 25px
        margin-right: 5px
    &.icon
        min-width: 25px
        margin-right: 5px
    &.name
        width: 100%
    &.size
        min-width: 80px
    &.date
        min-width: 80px
    &.owner
        min-width: 80px
    &.group
        min-width: 80px

.fs-head
    position: sticky
    top: 25px
    z-index: 99
    border-top: 1px solid rgba($dark, .1)
    border-bottom: 1px solid rgba($dark, .1)

.fs-item
    outline: none
    &:hover
        background: rgba($primary, .1)
